.cart button{
    border: none;
    background-color:transparent;
    color: white;
    padding: 0.5rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.cart button:hover{
    color: white;
    opacity: 1;
}
.PopoverContent {
    border-radius: 4px;
    padding: 20px;
    width: 200px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  .PopoverContent:focus {
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
      0 0 0 2px var(--violet7);
  }
  .PopoverContent[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  .PopoverContent[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  .PopoverContent[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  .PopoverContent[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
  .Row {
    background-color: gainsboro;
    padding: 20px;
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  